.hosting .main {
    z-index: 2;
    padding: 140px 0 60px;
    position: relative;
}

.hosting .main .main-content .container {
    max-width: 1400px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content:center;
    flex-wrap: wrap;
    gap: 64px;
    width: 90%;
}

.hosting .main .main-content .container .main-content {
    color: #ffffff;
    text-align: left;
    max-width: 600px;
     width: 90%;
}

.hosting .main .main-content .container .main-content p {
    font-size: 1.4rem;
    line-height: 2.2rem;
}

.cardsPrice {
    padding: 120px 0 100px;
    width: 100%;
    position: relative;
    z-index: 10;
}

.hosting .bg {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    height: 300px;
    background: linear-gradient(to right top, #131c47, #192152, #474c9a, #ac93d2);
}

.toBottom {
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.cardsPrice .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
    width: 90%;
}

.cardsPrice .cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
    background: #f1f1f6;    
    box-shadow: 0 4px 9px 0 rgba(23, 28, 33, 0.06);
    border-radius: 12px 12px 0 0;
}

.card h3 {
    color: rgb(51, 44, 68);
    font-size: 1.2rem;
    margin: 1rem 0 2rem;
}

.card h1 {
    color: rgb(51, 44, 68);
    margin-bottom: 2rem;
    font-size: 3rem;
    border-bottom: 1px solid rgb(221, 221, 221);
    padding-bottom: 2rem;
}

.card h1 sup {
    color: rgb(161, 150, 189);
    margin-right: 0.3rem;
    font-size: 1.6rem;
}

.card h1 sub {
    color:rgba(122, 110, 153, 0.705);
    font-size: 1rem;
    margin-left: -0.9rem;
    margin-top: -0.5rem;
}

.cards .card p {
    font-size: 0.8rem;
    margin-bottom: 2rem;
}

.cards .card .info p {
    font-size: 1rem;
    color: rgb(117, 109, 138);
    margin-bottom: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}

.buttonAccess {
    padding: 12px 0;
    text-align: center;
    width: 80%;
    background: #474c9a;
    color: #f9f9f9;
    margin-top: 12px;
    border-radius: 8px;
    transition: 0.3s;
}

.buttonAccess:hover {
    background: #df5854
}

.buttonsAndComponents {
    width: 100%;
    position: relative;
    padding: 70px 0 100px;
    background: #f2f7fb;
}

.buttonsAndComponents .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}
 
.buttonsAndComponents .buttons button {
    background: none;
    border: none;
    padding: 16px 32px;
    border-radius: 8px;
    font-size: 0.9rem;
    color: #474c9a;
    cursor: pointer;
}

.buttonsAndComponents .buttons button p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 1.2rem;
    color: #666;
    outline: none;
}

.showComponent {
    padding-top: 60px;
}

.showComponent .component {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
    gap: 24px;
}

.showComponent .component h1 {
    max-width: 600px;
    font-size: 3.2rem;
    width: 90%;
    color: #47495a;
}

.showComponent .component .texts {
    max-width: 600px;
    width: 90%;
    display: flex;    
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.showComponent .component .texts h2 {
    font-size: 22px;
    color:#6b7c93;
    line-height: 2.2rem;
    font-weight: 500;
}

.showComponent .component .texts p {
    margin-top: 1.3rem;
    font-size: 1rem;
    color: #6b7c93;
    max-width: 500px;
    line-height: 1.8rem;
    width: 90%;
}

@media (max-width: 600px) {
    .buttonsAndComponents {
        padding: 60px 0 90px;
    }
    .buttonsAndComponents .buttons {
        flex-direction: column;
        width: 90%;
    }

    .buttonsAndComponents .buttons button {
        padding: 16px 24px;
        width: 100%;
    }
        
    .showComponent .component h1 {
        font-size: 2.8rem;
    }
}

@media (max-width: 380px) {
    .buttonsAndComponents .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .showComponent .component h1 {
        font-size: 2.3rem;
    }

    .showComponent .component .texts h2 {
        font-size: 1.3rem;
    }

    .showComponent .component .texts p {
        font-size: 0.9rem;
    }
}

@media (max-width: 300px) {
    .hosting .main .main-content .container .main-content h1 {
        font-size: 2rem;
    }

    .hosting .main .main-content .container .main-content p {
        font-size: 1.2rem;
    }
}